<div>

<fieldset id="bloodgroup">
<legend>Blood Group Test</legend>
<div class="form-group">
  <label class="col-sm-3 control-label">Blood Group</label>
  <div class="col-sm-9">
    <select class="form-control" name="bloodgroup-blood_group">
     <option value="">Select A Blood Group</option>
      <option value="A_Positive">A Positive</option>
      <option value="B_Positive">B Positive</option>
      <option value="AB_Positive">AB Positive</option>
      <option value="O_Positive">O Positive</option>
      <option value="A_Negative">A Negative</option>
      <option value="B_Negative">B Negative</option>
      <option value="AB_Negative">AB Negative</option>
      <option value="O_Negative">O Negative</option>

    </select>
  </div>
</div>
</fieldset> 
</div>