<div>
<fieldset id="hepatitisscreen">
<legend>Hepatitis Screen</legend>
<div class="form-group">
 <label class="col-sm-3 control-label">Hepatitis A</label>
 <div class="col-sm-9">
   <select class="form-control" name="hepatitis_A">
    <option value="">Select Test Result</option>
     <option value="positive">Positive</option>
     <option value="negetive">Negative</option>
   </select>
 </div>
 <label class="col-sm-3 control-label">Hepatitis B</label>
 <div class="col-sm-9">
   <select class="form-control" name="hepatitis_B">
    <option value="">Select Test Result</option>
     <option value="positive">Positive</option>
     <option value="negetive">Negative</option>
   </select>
 </div>
 <label class="col-sm-3 control-label">Hepatitis C</label>
 <div class="col-sm-9">
   <select class="form-control" name="hepatitis_C">
    <option value="">Select Test Result</option>
     <option value="positive">Positive</option>
     <option value="negetive">Negative</option>
   </select>
 </div>
</div>
</fieldset> 
</div>