<div>
<fieldset id="lipidprofile">
<legend>Lipid Profile</legend>
<div class="form-group">
<div class="col-lg-12">
<table class="table">
	<tr><th>Test</th><th>Result</th><th>Normal Ranges</th></tr>
	<tr><td>T.Cholesterol</td><td><input class="" type="text" name="t_cholesterol"></td><td>2.5 - 5.2 mMol/L</td></tr>
	<tr><td>Tryglycerides</td><td><input class="" type="text" name="triglycerides"></td><td>0.2 - 2.0 mMol/L</td></tr>
	<tr><td>HDL Cholesterol</td><td><input class="" type="text" name="hdl_cholesterol"></td><td>1.0 - 1.6 mMol/L</td></tr>
	<tr><td>LDL Cholesterol</td><td><input class="" type="text" name="ldl_cholesterol"></td><td>2.2 - 3.2 mMol/L</td></tr>
	<tr><td>Non HDL</td><td><input class="" type="text" name="non_hdl"></td><td></td></tr>
	<tr><td>TC/HDL ratio</td><td><input class="" type="text" name="tc_hdl_ratio"></td><td>< 0.87 mMol/L</td></tr>
	<tr><td>Glucose</td><td><input class="" type="text" name="glucose"></td><td> 3.9 - 5.8 mMol/L</td></tr>
</table>
</div>
</div>
</fieldset> 
</div>