<div>
<fieldset id="hsv">
<legend>TORCHES Screen</legend>
<div class="form-group">
<div class="col-lg-12">
<table class="table" align="center">
	<tr><th>Test</th><th>Result</th></tr>
	<tr><td>HSV 1</td>
		<td>
		<select class="" name="hsv1">
   <option value="">Select A result</option>
    <option value="Positive">Positive</option>
    <option value="Negetive">Negative</option>
  </select>
 </td></tr>

 	<tr><td>HSV 2</td>
		<td>
		<select class="" name="hsv2">
   <option value="">Select A result</option>
    <option value="Positive">Positive</option>
    <option value="Negetive">Negative</option>
  </select>
 </td></tr>
  <tr><td>CMV</td>
    <td>
    <select class="" name="cmv">
   <option value="">Select A result</option>
    <option value="Positive">Positive</option>
    <option value="Negetive">Negative</option>
  </select>
 </td></tr>

  <tr><td>Toxoplasma Gondii</td>
    <td>
    <select class="" name="toxoplasma_gondii">
   <option value="">Select A result</option>
    <option value="Positive">Positive</option>
    <option value="Negetive">Negative</option>
  </select>
 </td></tr>
 <tr><td>HIV</td>
    <td>
    <select class="" name="hiv">
   <option value="">Select A result</option>
    <option value="Positive">Positive</option>
    <option value="Negetive">Negative</option>
  </select>
 </td></tr>
   <tr><td>Rubella</td>
    <td>
    <select class="" name="rubella">
   <option value="">Select A result</option>
    <option value="Positive">Positive</option>
    <option value="Negetive">Negative</option>
  </select>
 </td></tr>
 <tr><td>Syphilis</td>
    <td>
    <select class="" name="syphilis">
   <option value="">Select A result</option>
    <option value="Positive">Positive</option>
    <option value="Negetive">Negative</option>
  </select>
 </td></tr>

</table>
</div>
</div>
</fieldset> 
</div>