<div>
<fieldset id="urine">
 <legend>Urine Test</legend>
 <div class="form-group">
   <label class="col-sm-3 control-label">Blood</label>
   <div class="col-sm-3">
     <input class="form-control" type="text" name="blood">
   </div>

   <label class="col-sm-3 control-label">Bilirubin</label>
   <div class="col-sm-3">
     <input class="form-control" type="text" name="bilirubin">
   </div>

   <label class="col-sm-3 control-label">Urobilinogen</label>
   <div class="col-sm-3">
     <input class="form-control" type="text" name="urobilinogen">
   </div>

   <label class="col-sm-3 control-label">Ketones</label>
   <div class="col-sm-3">
     <input class="form-control" type="text" name="ketones">
   </div>

   <label class="col-sm-3 control-label">Glucose</label>
   <div class="col-sm-3">
     <input class="form-control" type="text" name="glucose">
   </div>

   <label class="col-sm-3 control-label">Protein</label>
   <div class="col-sm-3">
     <input class="form-control" type="text" name="protein">
   </div>
   
   <label class="col-sm-3 control-label">Nitrite</label>
   <div class="col-sm-3">
     <input class="form-control" type="text" name="nitrite">
   </div>

   <label class="col-sm-3 control-label">Leukocytes</label>
   <div class="col-sm-3">
     <input class="form-control" type="text" name="leukocytes">
   </div>

   <label class="col-sm-3 control-label">pH</label>
   <div class="col-sm-3">
     <input class="form-control" type="text" name="ph">
   </div>

   <label class="col-sm-3 control-label">S.G</label>
   <div class="col-sm-3">
     <input class="form-control" type="text" name="sg">
   </div>

   <label class="col-sm-3 control-label">Ascorbic Acid</label>
   <div class="col-sm-3">
     <input class="form-control" type="text" name="ascorbic_acid">
   </div>

 </div>
 </fieldset>
</div>