<div>
<fieldset id="urine">
 <legend>Urine Test</legend>

 <table class="table">
  <tr><th>Test</th><th>Result</th></tr>
  <tr><td> <label>Blood</label></td><td><input type="text" name="urine-blood"></td></tr>
  <tr><td><label>Bilirubin</label></td><td><input type="text" name="urine-bilirubin"></td></tr>
  <tr><td><label>Urobilinogen</label></td><td><input type="text" name="urine-urobilinogen"></td></tr>
  <tr><td><label>Ketones</label></td><td><input type="text" name="urine-ketones"></td></tr>
  <tr><td><label>Glucose</label></td><td>   
  <select class="" name="urine-urine_glucose">
   <option value="">Select A result</option>
    <option value="+">+</option>
    <option value="++">++</option>
    <option value="+++">+++</option>
    <option value="++++">++++</option>
  </select>
  </td></tr>
  <tr><td><label>Protein</label></td><td><input type="text" name="urine-protein"></td></tr>
  <tr><td><label>Nitrite</label></td><td><input type="text" name="urine-nitrite"></td></tr>
  <tr><td><label>Leukocytes</label></td><td><input type="text" name="urine-leukocytes"></td></tr>
  <tr><td><label>pH</label></td><td><input type="text" name="urine-ph"></td></tr>
  <tr><td><label>S.G</label></td><td><input type="text" name="urine-sg"></td></tr>
  <tr><td><label>Ascorbic Acid</label></td><td><input type="text" name="urine-ascorbic_acid"></td></tr>
 </table>
 </div>
 </fieldset>
</div>