<form class="form form-clinician-visual-test">
<table class="table table-striped table-condensed table-hover">
<tr>Visual Screen</tr>
	<tr><th>Detail</th><th>Results</th></tr>
	<tr><td>Contact Lenses</td>
	<td>
		<input type="radio" value="yes" name="contact_lenses"/>Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" value="no" name="contact_lenses"/>No
	</td></tr>
		<tr><td>Glasses</td>
	<td>
		<input type="radio" value="yes" name="glasses"/>Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" value="no" name="glasses"/>No
	</td></tr>
		<tr><td>Bifocal</td>
	<td>
		<input type="radio" value="yes" name="bifocal"/>Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" value="no" name="bifocal"/>No
	</td></tr>
		<tr><td>Trifocal</td>
	<td>
		<input type="radio" value="yes" name="trifocal"/>Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" value="no" name="trifocal"/>No
	</td></tr>
		<tr><td>Special</td>
	<td>
		<input type="text" value="" name="special" class='form-control'/>
	</td></tr>
		<tr><td>Comments</td>
	<td>
		<textarea value="" name="comments" class='form-control'/>
	</td></tr>
		<tr><td></td><td></td></tr>
		<tr><td>&nbsp;</td><td><b>FAR POINT TESTS(20 feet)</b></td></tr>
	<tr><td></td><td></td></tr>
			<tr><td>Binoc. Vision</td>
	<td>
		<input type="radio" value="4_cubes" name="far_point_test_binoc_vision"/>4 cubes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" value="2_cubes" name="far_point_test_binoc_vision"/>2 cubes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" value="3_cubes" name="far_point_test_binoc_vision">3 cubes
	</td></tr>
			<tr><td>Line</td>
	<td>
		1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  7
	</td></tr>
				<tr><td>Both Eyes</td>
	<td>
<input type="checkbox" name="far_point_test_both_eyes[]" value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_both_eyes[]" value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_both_eyes[]" value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_both_eyes[]" value="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_both_eyes[]" value="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_both_eyes[]" value="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_both_eyes[]" value="7">
	</td></tr>
					<tr><td>Right</td>
	<td>
<input type="checkbox" name="far_point_test_right[]" value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_right[]" value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_right[]" value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_right[]" value="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_right[]" value="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_right[]" value="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_right[]" value="7">
	</td></tr>
					<tr><td>Left</td>
	<td>
<input type="checkbox" name="far_point_test_left[]" value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_left[]" value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_left[]" value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_left[]" value="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_left[]" value="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_left[]" value="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_left[]" value="7">
	</td></tr>
						<tr><td>Stereo Depth</td>
	<td>
<input type="checkbox" name="stereo_depth[]" value="1_B">1:B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="stereo_depth[]" value="2_L">2:L&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="stereo_depth[]" value="3_B">3:B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="stereo_depth[]" value="4_T">4:T&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="stereo_depth[]" value="5_T">5:T&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="stereo_depth[]" value="6_L">6:L&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="stereo_depth[]" value="7_R">7:R&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="stereo_depth[]" value="8_L">8:L&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="stereo_depth[]" value="9_R">9:R&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</td></tr>
						<tr><td>Colour</td>
	<td>
<input type="checkbox" name="colour[]" value="A_12">A:12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="colour[]" value="B_5">B:5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="colour[]" value="C_26">C:26&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="colour[]" value="D_6">D:6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="colour[]" value="E_16">E:16&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="colour[]" value="F_0">F:0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</td></tr>
						<tr><td>Vertical</td>
	<td>
<input type="checkbox" name="far_point_test_vertical[]" value="1">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_vertical[]" value="2">2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_vertical[]" value="3">3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_vertical[]" value="4">4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_vertical[]" value="5">5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_vertical[]" value="6">6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_vertical[]" value="7">7
	</td></tr>
						<tr><td>Lateral</td>
	<td>
<input type="checkbox" name="far_point_test_lateral[]" value="1">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="2">2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="3">3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="4">4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="5">5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="6">6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="7">7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="8">8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="9">9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="10">10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="11">11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="12">12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="13">13&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="14">14&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="far_point_test_lateral[]" value="15">15
	</td></tr>
			<tr><td></td><td></td></tr>
		<tr><td>&nbsp;</td><td><b>NEAR POINT TESTS(14 feet)</b></td></tr>
	<tr><td></td><td></td></tr>
<tr><td>Binoc. Vision</td>
	<td>
		<input type="radio" value="4_cubes" name="near_point_test_binoc_vision"/>4 cubes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" value="2_cubes" name="near_point_test_binoc_vision"/>2 cubes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" value="3_cubes" name="near_point_test_binoc_vision">3 cubes
	</td></tr>
			<tr><td>Line</td>
	<td>
		1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  7
	</td></tr>
				<tr><td>Both Eyes</td>
	<td>
<input type="checkbox" name="near_point_test_both_eyes[]" value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_both_eyes[]" value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_both_eyes[]" value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_both_eyes[]" value="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_both_eyes[]" value="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_both_eyes[]" value="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_both_eyes[]" value="7">
	</td></tr>
					<tr><td>Right</td>
	<td>
<input type="checkbox" name="near_point_test_right[]" value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_right[]" value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_right[]" value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_right[]" value="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_right[]" value="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_right[]" value="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_right[]" value="7">
	</td></tr>
					<tr><td>Left</td>
	<td>
<input type="checkbox" name="near_point_test_left[]" value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_left[]" value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_left[]" value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_left[]" value="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_left[]" value="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_left[]" value="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_left[]" value="7">
	</td></tr>
	<tr><td>Vertical</td>
	<td>
<input type="checkbox" name="near_point_test_vertical[]" value="1">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_vertical[]" value="2">2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_vertical[]" value="3">3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_vertical[]" value="4">4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_vertical[]" value="5">5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_vertical[]" value="6">6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_vertical[]" value="7">7
	</td></tr>
						<tr><td>Lateral</td>
	<td>
<input type="checkbox" name="near_point_test_lateral[]" value="1">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="2">2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="3">3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="4">4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="5">5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="6">6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="7">7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="8">8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="9">9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="10">10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="11">11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="12">12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="13">13&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="14">14&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="checkbox" name="near_point_test_lateral[]" value="15">15
	</td></tr>
	<tr><td></td><td></td></tr>
			<tr><td>Dr's Evaluation</td>
	<td>
		<textarea value="" name="dr_evealuation" class='form-control'/>
	</td></tr>
</table>
<input type="submit" class="btn btn-success" value="Save Test">
</form>